# database config
DATABASE_URL="mongodb://localhost:27017/hehe"

# app config
PORT="5001"
NODE_ENV="dev"
MICROSERVICE_NAME="Template"

GROQ_API_KEY = "key here"

# email
EMAIL_PASSWORD="pass here"
EMAIL_USER="sender email here"